{% extends 'base.html' %}

{% block head %}
<head>
  <title>Filmy</title>
</head>
{% endblock %}

{% block body %}
  <div>
    <h1>Witajcie na stronie kina: {{ cinema.name }}</h1>
  </div>

  <div>
    {% if user_id == 1 %}
      <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Data</th>
          <th scope="col">Akcja</th>
        </tr>
      </thead>
      <tbody>
        <form action="#" method="post">
          <tr>
            <th scope="row">
              <select name="movie_id">
              {% for movie in list_of_all_movies %}
                <option value="{{ movie.get_movie_id() }}">{{ movie.title }}</option>
              {% endfor %}}
              </select>
            </th>
            <td><input type="datetime-local" name="datetime"></td>
            <th scope="col"><input type="submit" value="Dodaj"></th>
          </tr>
        </form>
      </tbody>
    </table>
    {% endif %}
  </div>

  <div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tytuł</th>
          <th scope="col">Wolnych miejsc</th>
          <th scope="col">Data seansu</th>
          {% if user_id == 1 %}
            <th scope="col">Akcja</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for movie in movies_cinemas %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ movie.movie_id }}</td>
            <td>{{ movie.cinema_id }}</td>
            <td>{{ movie.date }}</td>
            {% if user_id %}
              <th>
                <div class="btn-group btn-group-sm btn-group-justified">
                  {% if user_id == 1 %}
                    <form action="#" method="post">
                      <input type="hidden" name="form_name" value="delete_movie_from_cinema">
                      <input type="hidden" name="pic_id" value="{{ movie.get_pic_id() }}">
                      <button type="submit" class="btn btn-outline-danger"
                      name="button_name" value="delete_from_cinema">Usuń</button>
                    </form>
                    <form action="#" method="post">
                      <input type="hidden" name="form_name" value="change_in_cinema">
                      <input type="hidden" name="movie_id" value="{{ movie.get_movie_id }}">
                      <input type="hidden" name="cinema_id" value="{{ cinema.get_cinema_id() }}">
                      <button type="submit" class="btn btn-outline-primary my-2 my-sm-0"
                      name="button_name" value="modify_in_cinema">Modyfikuj</button>
                    </form>
                  {% endif %}
                  <form action="#" method="post">
                    <input type="hidden" name="form_name" value="buy_ticket">
                    <input type="hidden" name="movie_id" value="{{ movie.get_movie_id }}">
                    <input type="hidden" name="cinema_id" value="{{ cinema.get_cinema_id() }}">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                            name="button_name" value="buy">Kup</button>
                  </form>
                </div>
              </th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}